<%- include('header')%>
<h2 class="gray">Admin:</h2>
<div class="lista">
    <ul class="list-group" >
        <a href="/admin/categorias"><li class="list-group-item list-group-item-action flex-column align-items-start">Gerenciar Categorias:</li></a>
        <a href="/admin/vagas"><li class="list-group-item list-group-item-action flex-column align-items-start">Gerenciar Vagas:</li></a>
    </ul>
</div>
<%- include('footer') %>