<%- include('header')%>

    <h2 class="gray">
        Nova Categoria:
        <a href="/admin/categorias">Categoria</a>
    </h2>
        
    <div>
        <form method="POST" >
            <label>Nome da categoria:</label>
            <input type="text" name="categoria" >
            <br><br>
            <button>Cadastrar</button>
        </form>
    </div>   

<%- include('footer') %>