body {
    font-family: 'roboto', sans-serif;
}

.lista{
    margin-left: 8px;
    max-width: 600px;
}

.lista a{
    color: black;
    margin: 5px;
}

ul {
    list-style: none;
    padding-left: 16;
}

#logo {
    text-align: center;
}


p {
    text-align: center;
}

h3 {
    font-size: 24px;
}


.gray {
    background-color: #c4c4c4;
    padding: 8px;
    font-size: 24;
}

label {
    display: block;
    margin: 20px 0 4px 0;
}

input {
    display: block;
    padding: 4px;
    width: 440px;
}

textarea {
    display: block;
    padding: 8px;
    width: 440px;
    height: 240px;
}

button {
    padding: 12px;
}